swagger: "2.0"
info:
  description: "An API to consume OSM statistics as in the OSM Analytics client"
  version: "0.0.1"
  title: "OSM Analytics API"
  contact:
    name: "Vizzuality"
    url: "http://vizzuality.com"
  license:
    name: "MIT"

tags:
- name: "stats"
  description: "Core stats"
- name: "meta"
  description: "Metadata"
schemes:
- "http"
- "https"
host: "osm-analytics.vizzuality.com"

parameters:
  feature_type:
    name: "feature_type"
    in: "path"
    description: "A feature type (buildings, highways, etc). Use the /meta/feature-types endpoint to get a list of all available feature types. Usa 'all' to get all available features in the response."
    required: true
    type: "string"
    enum: [all, buildings, highways, waterways]

paths:
  /{feature_type}/{z}/{x}/{y}.pbf:
    get:
      tags:
      - "tiles"
      summary: "Get pfb tile of the current year"
      produces:
      - "application/protobuf"
      parameters:
      - name: "feature_type"
        in: "path"
        description: "A feature type (buildings, highways, etc). Use the /meta/feature-types endpoint to get a list of all available feature types. Usa 'all' to get all available features in the response."
        required: true
        type: "string"
        enum: [buildings, highways, waterways]
      - name: "z"
        in: "path"
        description: "Zoom level"
        required: true
        type: "integer"
        format: "int32"
        minimum: 0
        maximum: 13
      - name: "x"
        in: "path"
        description: "Position X"
        required: true
        type: "integer"
        format: "int32"
        minimum: 0
      - name: "y"
        in: "path"
        description: "Position Y"
        required: true
        type: "integer"
        format: "int32"
        minimum: 0
      responses:
        200:
          description: "Successful operation"
          schema:
            type: file
        404:
          description: "Tile not found"
  /{year}/{feature_type}/{z}/{x}/{y}.pbf:
    get:
      tags:
      - "tiles"
      summary: "Get pfb tile of the selected year"
      produces:
      - "application/protobuf"
      parameters:
      - name: "feature_type"
        in: "path"
        description: "A feature type (buildings, highways, etc). Use the /meta/feature-types endpoint to get a list of all available feature types. Usa 'all' to get all available features in the response."
        required: true
        type: "string"
        enum: [buildings, highways, waterways]
      - name: "year"
        in: "path"
        description: "Year. "
        required: true
        type: "integer"
        format: "int32"
        minimum: 2007
        maximum: 2016
      - name: "z"
        in: "path"
        description: "Zoom level"
        required: true
        type: "integer"
        format: "int32"
        minimum: 0
        maximum: 13
      - name: "x"
        in: "path"
        description: "X position"
        required: true
        type: "integer"
        format: "int32"
        minimum: 0
      - name: "y"
        in: "path"
        description: "Y position"
        required: true
        type: "integer"
        format: "int32"
        minimum: 0
      responses:
        200:
          description: "Successful operation"
          schema:
            type: file
        404:
          description: "Tile not found"
  /api/v1/stats/{feature_type}/country/{iso3}:
    get:
      tags:
      - "stats"
      summary: "Gets OSM stats for a country"
      produces:
      - "application/json"
      parameters:
      - $ref: '#/parameters/feature_type'
      - name: "iso3"
        in: "path"
        description: "iso3 code of a country - see GET /meta/countries"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/Stats"
        404:
          description: "Country not found"

  /api/v1/stats/{feature_type}/polygon/{polygon}:
    get:
      tags:
      - "stats"
      summary: "Gets OSM stats for an arbitrary area"
      produces:
      - "application/json"
      parameters:
      - $ref: '#/parameters/feature_type'
      - name: "polygon"
        in: "path"
        description: "an area defined by a polygon encoded as a polyline (https://developers.google.com/maps/documentation/utilities/polylinealgorithm). Example: n~z%257BLypvpB%257BhcF%253F%253Facy%2540fobDdvO"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/Stats"
        413:
          description: "Encoded polyline is too big"

  /api/v1/stats/{feature_type}/bbox/{bounds}:
    get:
      tags:
      - "stats"
      summary: "Gets OSM stats for a bounding box"
      produces:
      - "application/json"
      parameters:
      - $ref: '#/parameters/feature_type'
      - name: "bounds"
        in: "path"
        description: "Bounds expressed as {min_lng},{min_lat},{max_lng},{max_lat}. Example: -72.88824,18.63453,-71.71930,18.93214"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/Stats"
        405:
          description: "Invalid bounding box"

  /api/v1/meta/countries:
    get:
      tags:
      - "meta"
      summary: "Gets all available country names and ISO codes"
      produces:
      - "application/json"
      responses:
        200:
          description: "Successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Country"

  /api/v1/meta/country_polyline/{iso3}:
    get:
      tags:
      - "meta"
      summary: "Gets an encoded polyline for a given country ISO3 code"
      produces:
      - "application/text"
      parameters:
      - name: "iso3"
        in: "path"
        description: "iso3 code of a country - see GET /meta/countries"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            type: "string"


  /api/v1/meta/feature-types:
    get:
      tags:
      - "meta"
      summary: "Gets all available feature types (ie buildings, highways, etc)"
      produces:
      - "application/json"
      responses:
        200:
          description: "Successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/FeatureType"

definitions:
  Country:
    type: "object"
    properties:
      name:
        type: "string"
      iso:
        type: "string"

  FeatureType:
    type: "string"

  TopUser:
    type: "object"
    description: "An OSM user"
    properties:
      osm_id:
        type: "string"
      osm_name:
        type: "string"
        description: "OSM display name. Might not be available for all users."
      feature_value:
        description: "Number of [feature type]/kms distance of [feature type] edited in this area"
        type: "integer"
        format: "int32"
  Experience:
    type: "object"
    description: "An OSM experience item"
    properties:
      experience:
        type: "integer"
        format: "int32"
        description: Value between 1 - 20
      count_experience:
        type: "integer"
        format: "int32"
        description: Users with this experience
  ActivityCount:
    type: "object"
    description: "Features modified per day"
    properties:
      day:
        type: "integer"
        format: "int32"
        description: Timestamp with the day
      count_features:
        type: "integer"
        format: "int32"
        description: Num items this day
  ActivityUsers:
    type: "object"
    description: "Users active per day"
    properties:
      day:
        type: "integer"
        format: "int32"
        description: Timestamp with the day
      count_users:
        type: "integer"
        format: "int32"
        description: Num of users active in this day

  FeatureStats:
    type: "object"
    properties:
      top_users:
        type: "array"
        items:
          $ref: "#/definitions/TopUser"
      user_experience:
        type: "array"
        items:
          $ref: "#/definitions/ActivityUsers"
      user_experience_min:
        type: "integer"
        format: "int32"
        description: Minimun experience for the feature
      user_experience_max:
        type: "integer"
        format: "int32"
        description: Maximum experience for the feature
      user_experience_mean:
        type: "integer"
        format: "float"
        description: Mean experience for the feature
      count:
        type: "integer"
        format: "int32"
        description: Number of [feature type]
  Stats:
    type: "object"
    properties:
      buildings:
        $ref: "#/definitions/FeatureStats"
      highways:
        $ref: "#/definitions/FeatureStats"
      waterways:
        $ref: "#/definitions/FeatureStats"
